<div class="row">
	<div class="col-12">
		<h1>{{title}} <sub>{{#if count}}({{count}}){{else}}(0){{/if}}</sub></h1>
	</div>
</div>
{{#each rows}}
<div class="row">
	<div class="col-12">
		<h3>{{this.identifier}}</h3><br />
		<b>{{this.name}}</b><br />
		<img src="/images/{{this.image}}" />
		<p>{{this.notes}}</p>
	</div>
</div>
<hr />
{{/each}}